<li id="comment-<%= comment._id %>">

    <p>
        <% if(locals.user && locals.user.id == comment.user.id){ %>
            <small>
                <a class="delete-comment-button" href="/comments/destroy/<%= comment.id %>" style="text-decoration: none;">
                    <img src="/images/clear.png" style="width:15px;height:15px;cursor:pointer;position: relative;top: 3px;">
                </a>
            </small>
        <% } %>
            <span> <img src="<%= comment.user.avatar %>" class="post-avatar"></span>
        <%= comment.content %>
        <br>
        <br>
        
        <small>
            ~
            <%= comment.user.name %>
        </small>

        <!-- display the likes of this comment, if the user is logged in, then show the link to toggle likes, else ,just show the like count -->
        <small>
            <% if(locals.user) { %>

                <a class="toggle-like-button" data-likes="<%= comment.likes.length %>" href="/likes/toggle/?id=<%= comment._id %>&type=Comment" style="color:black;text-decoration: none;">
                    <span> <i class="fa-regular fa-thumbs-up" ></i> </span>
                    <%= comment.likes.length %> Likes
                </a>
                
            <% } else { %>
                
                <span> <i class="fa-regular fa-thumbs-up" ></i></span>
                <%= comment.likes.length %> Likes

            <% } %>
        </small>
    </p>

</li>