

<li id="comment-<%= comment._id %>" class="comment bg-secondary rounded-5 px-3 pb-1 d-flex justify-content-between mb-2">
    <div>
        <div class="username d-flex my-auto align-items-center">
            <img src="<%= comment.avatar %>" class="post-avatar" style="height:30px;width:30px;">
            <p class="mb-0 fs-6 fw-bold my-auto mt-3 mx-2 text-light"><%= comment.user.name %></p>
        </div>
        <div class="content" >
            <p class="mb-0 ms-4 ps-3 py-2 " style="color:rgba(255,255,255,0.7);"><%= comment.content %></p>
        </div>
        <div class="like-comment ms-4 ps-3">
            <% if(locals.user) { %>

                <% if(comment.likes.length===1){ %>
                <a class="toggle-like-button text-white text-decoration-none" data-likes="<%= comment.likes.length %>" href="/likes/toggle/?id=<%= comment._id %>&type=Comment" >
                    <span> <i class="fa-regular fa-thumbs-up" ></i> </span>
                    <%= comment.likes.length %> Like
                </a>
                <% }else{ %>
                <a class="toggle-like-button text-white text-decoration-none" data-likes="<%= comment.likes.length %>" href="/likes/toggle/?id=<%= comment._id %>&type=Comment">
                    <span> <i class="fa-regular fa-thumbs-up" ></i> </span>
                    <%= comment.likes.length %> Likes
                </a>
                <% } %>

                
            <% } else { %>
                
                <span> <i class="fa-regular fa-thumbs-up" ></i></span>
                <%= comment.likes.length %> Likes

            <% } %>
        </div>
    </div>
    <div class="delete my-auto">
        <% if(locals.user && locals.user.id == comment.user.id){ %>
            <a href="/comments/destroy/<%= comment.id %>" class="text-decoration-none"><span><i class="bi bi-x-circle-fill fs-4 text-light"></i></span></a>
            
        <% } %>
    </div>
</li>


