
<li id="post-<%= post._id %>" style="width:90%;margin-left: 3%;" class="each-post">


    <p>
        <div class="avatar-cross">
            <div class="post-users-name d-flex align-items-center">
                <img src="<%= post.user.avatar %>" class="post-avatar" style="height:35px; width: 35px;">
                <p class="mb-0 fs-5 fw-bold mx-2 mt-2" style="position:relative;top:3px;"><%= post.user.name %></p>
            </div>
        
            <!-- Delete button Post -->
            <% if(locals.user && locals.user.id == post.user.id){ %>
                    <a href="/posts/destroy/<%= post.id %>" style="text-decoration: none;" class="mt-3">
                        <i class="bi bi-trash3-fill fs-4 text-danger"></i>
                    </a>
            <% } %>

        </div>
        <br>
        <hr class="horizontal-line">
        <%= post.content %>
        <br>
    
        <!--Display the likes of this post , if user is logged in, then show the link to toggle likes , else just show the like count-->
        <br>
        <small>
            <% if(locals.user){%>
                <% if(post.likes.length===1){ %>
                <a class="toggle-like-button" data-likes="<%= post.likes.length %>"  href="/likes/toggle/?id=<%=post._id %>&type=Post" style="color:white;text-decoration: none;">
                    <span><i class="fa-regular fa-thumbs-up" ></i> </span><%= post.likes.length %> Like
                </a>
                <%}else{ %>
                <a class="toggle-like-button" data-likes="<%= post.likes.length %>"  href="/likes/toggle/?id=<%=post._id %>&type=Post" style="color:white;text-decoration: none;">
                    <span><i class="fa-regular fa-thumbs-up" ></i> </span><%= post.likes.length %> Likes
                </a>
                <%} %>
            <% } else { %>
                <span><i class="fa-regular fa-thumbs-up" ></i></span>
                <%= post.likes.length %> Likes
            <% } %>
        </small>

    </p>
    <div class="post-comments">
        <% if(locals.user) {%>
            <!-- let's give an id to the new comment form, 
                we'll also need to make the same changes in 
                home_posts.js where we're adding a post to the page -->
                
            <form id="post-<%= post._id %>-comments-form" action="/comments/create" method="POST" onsubmit="hello()" >
                <input type="text" name="content" placeholder="Type here to add comment..." required class="add-text p-2 px-3" id="postComment">
                <input type="hidden" name="post" value="<%= post._id %>">
                <input type="submit" value="Post" class="add-button px-3 btn ms-2 text-white"> 

            </form>

        <% } %>

        <h4>Comments</h4>

        <!-- Display Comments -->
        <div class="post-comments-list">
            <ul id="post-comments-<%= post._id %>">
                <% for(comment of post.comments){ %>
                    
                   <%- include('_comment') -%>

                <% } %>

            </ul>

        </div>
    </div>
</li>

<script>
    function hello(){
        setTimeout(function(){
            document.querySelector('#postComment').value=''
        },0)
    }
</script>
