<link rel="stylesheet" href="/css/home.css">

<link rel="stylesheet" href="/css/chat_box.css">


<div id="home-container">

    <!-- Posts Section -->

    <section id="feed-posts">
        <h3>FEED</h3>
        
        <% if (locals.user) { %> 
            <form action="/posts/create" id="new-post-form" method="POST" >
                <textarea name="content" cols="30" rows="3" placeholder="What's on you Mind..." required class="add-post-text"></textarea>
                <br>
                <input type="submit" value="Post" class="add-post-button"> 
            </form>
        <% } %>

        <div id="posts-list-container">
            <ul>
                <% for(post of posts){ %>
                    
                    <%- include('_post') -%>

                <% } %>
            </ul>
        </div>

    </section>

    <!-- Display all us users -->
    <section id="user-friends">

        <div id="friends-container">
            <h4>FRIENDS</h4>

            <div class="list-group">

                <% if(!locals.user) {%>
                    <h5>Please login to see your Friends</h5>
                <% } %>

                <% if(locals.user && locals.friends.length == 0) { %>
                    <h5>No Friends Found!</h5>
                <% } %>

                <% for(fr of locals.friends) { %>
                    <p>
                        <a href="/users/profile/<%= fr.friend_id %>" style="color:lightseagreen;text-decoration: none;text-align: left;">
                            <img src="<%= fr.friend_avatar%>" style="height:40px; width:40px; border-radius:50%;">
                            &nbsp;
                            <span class="user-name"> <%= fr.friend_name %></span>
                        </a>
                    </p> 

                <% } %>
            </div>

        </div>

        <!-- All Users -->
        
        <h3>ALL USERS</h3>

        <div class="list-group">

            <% for(u of all_users) {%>

                <p>
                    <a href="/users/profile/<%= u.id %>" style="color:white;text-decoration: none;"> 
                        <img src="<%= u.avatar %>"  style="height:40px; width:40px; border-radius:50%;">
                        &nbsp   
                        <span class="user-name"><%= u.name %></span>
                    </a>
                </p>
    
            <% } %>

        </div>
        
    </section>

</div>

<%- include('_chat_box') -%>

<!-- importig this script for creating the comments -->
<script src="/js/home_post_comments.js"></script>
<script src="/js/home_posts.js"></script>

<!-- import the script file for toggle likes, also run it over for the already present posts and comments on the page -->
<script src="/js/toggle_likes.js"></script>
<script>
    $('.toggle-like-button').each(function(){
        let self = this;
        let toggleLike = new ToggleLike(self);
    });
</script>

<!-- Adding chat script files -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.6.1/socket.io.js"></script>
<script src="/js/chat_engine.js"></script>

<% if(locals.user) {%>
    <script>
        new ChatEngine('user-chat-box', '<%= locals.user.email%>')
    </script> 
<% } %>
<script src="/js/pop-up-chat.js"></script>